@media (min-width: 64em) {

    .towns { 
        grid-template-columns: 1fr 1fr 1fr;
    }

    .towns section {
        grid-template-columns: 1fr;
    }

    .towns section:nth-child(odd) .town-text {
        grid-column: 1;  
    }
    .towns img {
        width: 300px;
        height: 200px;
    }
    
    

}