@media only screen and (min-width: 45em) {
    
        /* -------- Header -------- */
    
        header {
            width: auto;
        }

        /* -------- Navigation Bar -------- */

        .navigation {
            display: flex;
        }

        nav ul {
            display: flex;
        }
        nav ul li { 
            flex: 1 1 100%; 
        }
    
        nav li {
            display: block; /* needed because of state in small view */
            flex: 1 1 100%;
        }

        nav li:first-child {
            display: none;
        }

        nav .current-page {
            background-color: #AABD8C;
            color: #5D6F34;
        }

        h1 {
            font-size: 2em;
        }
    
        h2{
            font-size: 1.5em;
        }
    
    
        /* -------- Footer -------- */
    
        footer {
            width: auto;
        }
    
        .bottom-info {
            width: auto;
            display: grid;
            grid-template-columns: 1fr 100px 1fr;
            padding: 50px;
        }
        
        .contact-info {
            text-align: left;
            grid-column: 3;
            grid-row: 1;
        }
    
        .pre-footer {
            display: flex;
        }

    /* ------------------------------------------------ Home ------------------------------------------------ */


 




    /* ------------------------------------------------ City ------------------------------------------------ */


    .about-city {
        grid-template-columns: 2fr 1fr;
    }
    
    .about-city p{
        grid-column: 1/2;
        grid-row: 1;
    }
    
    .christmas {
        grid-column: 2;
        grid-row: 1;
        margin: 20px 0 0 30px;  
    }

    .about-train {
        grid-template-columns: 1fr 2fr;
    }
    
    .about-train p {
        grid-column: 2/3;
        grid-row: 1;
    }
    
    .train {
        grid-column: 1/2;
        grid-row: 1;
        margin: 20px 30px 0 0;  
    }




    /* ------------------------------------------------ Join ------------------------------------------------ */







    /* ------------------------------------------------ Directory ------------------------------------------------ */


    .cards {
        grid-template-columns: 1fr 1fr;
    }




    /* ------------------------------------------------ Contact ------------------------------------------------ */

    .contact-form {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
    }
    
   iframe {
        grid-column: 1;
        grid-row: 2;
        width: 100%;
        height: 300px;
    }
    
    .contact-info {
        grid-column: 1;
        grid-row: 1;
    }

}