@media only screen and (min-width: 51.25em) {
    header {
        width: auto;
      }

    nav ul {
        display: flex;
    }
    nav ul li { 
        flex: 1 1 100%; 
    }
 
	nav li {
		display: block; /* needed because of state in small view */
		flex: 1 1 100%;
	}

	nav li:first-child {
		display: none;
	}

    nav .current-page {
        background-color: lightgray;
        color: #396E94;
    }

    footer {
        width: auto;
    }

    h1 {
        font-size: 2em;
    }

    h2{
        font-size: 1.5em;
    }


    









   


}


