@media (min-width: 64em) {
    .lesson3_grid {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .page-head {
        grid-column: 1/4;
    }
    
    #color3 {
        grid-column: 3;
        grid-row: 2;
    }

    .head-grid {
        display: grid;
        grid-template-columns: 225px 1fr;
    }
    .head-grid img {
        grid-column: 1;
        border: 5px solid white;
    }

    header img {
        width: auto;
        height: 150px;
    }

    .header-text {
        text-align: left;

    }

}